<div class="container-fluid">
    <div class="row">
        {% for item in include.features %}
            <div class="col-md-4">
                <div class="card">
                    {% if item.img %}
                        {% if item.img.src contains "://" %}
                            {% assign domain = "" %}
                        {% else %}
                            {% assign domain = site.url | append: site.baseurl %}
                        {% endif %}
                        <img class="card-img-top" src="{{ domain }}{{ item.img.src }}" alt="{% if item.img.alt %}{{ item.img.alt }}{% endif %}" />
                    {% endif %}
                    {% if item.url contains "://" %}
                        {% assign domain = "" %}
                    {% else %}
                        {% assign domain = site.url | append: site.baseurl %}
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ item.title }}</h5>
                        <p class="card-text">
                            {{ item.description }}
                        </p>
                        <a class="btn btn-primary" href="{{ domain }}{{ item.url }}">View {{ item.title }} notes</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>