<meta charset="utf-8">

{% include seo.html %}

<link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ '/assets/css/bootstrap.min.css' | relative_url }}" />

{% if site.styles %}
    {% for style in site.styles %}
        {% if style contains "://" %}
            {% capture style_path %}{{ style }} {% endcapture %}
        {% else %}
            {% capture style_path %}{{ style || relative_url }}{% endcapture %}
        {% endif %}
        <link rel="stylesheet" href="{{ style_path }}" />
    {% endfor %}
{% endif %}

{% if site.scripts.head %}
  {% for script in site.scripts.head %}
    {% if script contains "://" %}
      {% capture script_path %}{{ script }}{% endcapture %}
    {% else %}
      {% capture script_path %}{{ script | relative_url }}{% endcapture %}
    {% endif %}
    <script src="{{ script_path }}"></script>
  {% endfor %}
{% endif %}

