---
---

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 | default: "en" }}" class="no-js">
  <head>
    {% include head.html %}
  </head>

  <body class="{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' }}{% endif %}">

    {% include masthead.html %}

    <div class="container{% if layout.fluid %}-fluid{% endif %}">
      {{ content }}
    </div>

    {% if site.search == true %}
      <div>
        {% include search/search_form.html %}
      </div>
    {% endif %}

    {% include footer.html %}

    {% include scripts.html %}

  </body>
</html>